body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0px;
  list-style: none;
}

.page-cream {
  background-color: #F9F6F1;
}

.page-cream__header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 30px 0px 0px 0px;
  z-index: 1;
}

@media (max-width: 992px) {
  .page-cream__header {
    padding: 30px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  .page-cream__header {
    padding: 15px 0px 0px 0px;
  }
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 20px;
}

@media (max-width: 320px) {
  .wrapper {
    padding: 0px 10px;
  }
}

.btn {
  background-color: #D7B399;
  padding: 18px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.btn__center {
  display: block;
  max-width: 160px;
  margin: 100px auto 0px auto;
}

@media (max-width: 576px) {
  .btn__center {
    margin: 40px auto 0px auto;
  }
}

.btn:hover {
  background-color: #db915c;
}

.btn:active {
  background-color: #ce7231;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 20px 0px;
  gap: 25px;
}

@media (max-width: 320px) {
  .header {
    gap: 5px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    display: block;
    top: 45px;
    width: 100%;
    height: 100%;
    margin-left: -140%;
    padding: 20px 20px 0px 20px;
    background-color: #D7B399;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  .header__nav-two {
    padding-top: 0px;
    top: 178px;
  }
  .header__nav-two-active {
    margin-left: -20px;
  }
  .header__nav-active {
    margin-left: -20px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    width: 150px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    padding: 0px 0px 0px 30px;
  }
}

@media (max-width: 420px) {
  .header__logo {
    width: 100px;
    height: 25px;
  }
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header__link {
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
  }
}

.header__link:hover {
  color: #f57a00;
}

.header__link:active {
  color: #da9360;
}

@media (max-width: 768px) {
  .header__item {
    padding: 10px 0px 10px 0px;
  }
}

.header__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

@media (max-width: 320px) {
  .header__basket {
    width: 22px;
  }
}

.header__sticker {
  width: 34px;
  height: 19px;
  text-align: center;
  background-image: url("../image/sticker.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 5.2px 0px 0px 10px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

@media (max-width: 320px) {
  .header__sticker {
    width: 26px;
    background-size: contain;
  }
}

.header__burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: absolute;
    z-index: 4px;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    display: block;
    position: absolute;
    top: 9px;
    height: 2px;
    width: 100%;
    background-color: black;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  .header__burger::after {
    bottom: 0px;
  }
  .header__burger-active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger-active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger-active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.page-cream__sale {
  padding: 226px 0px 133px 0px;
}

@media (max-width: 992px) {
  .page-cream__sale {
    padding: 170px 0px 110px 0px;
  }
}

@media (max-width: 768px) {
  .page-cream__sale {
    padding: 130px 0px 85px 0px;
  }
}

@media (max-width: 576px) {
  .page-cream__sale {
    padding: 95px 0px 35px 0px;
  }
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

@media (max-width: 576px) {
  .sale {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }
}

.sale__description {
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

@media (max-width: 576px) {
  .sale__description {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.sale__title {
  margin: 0px;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #000000;
}

@media (max-width: 992px) {
  .sale__title {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .sale__title {
    font-size: 20px;
  }
}

.sale__text {
  margin: 55px 0px 55px 0px;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
  color: #000000;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .sale__text {
    font-size: 48px;
    margin: 25px 0px 55px 0px;
  }
}

@media (max-width: 768px) {
  .sale__text {
    font-size: 36px;
    margin: 20px 0px 45px 0px;
  }
}

@media (max-width: 576px) {
  .sale__text {
    font-size: 30px;
    margin: 0px 0px 30px 0px;
  }
}

.sale__btn {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .sale__btn {
    position: static;
  }
}

@media (max-width: 768px) {
  .sale__btn {
    padding: 12px 24px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .sale__btn {
    padding: 12px 12px;
    font-size: 14px;
  }
}

.sale__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sale__image img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .sale__image {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.sale__price-start {
  position: absolute;
  top: -15px;
  right: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 576px) {
  .sale__price-start {
    font-size: 20px;
  }
}

.sale__price-end {
  top: 20px;
  right: 0px;
  position: absolute;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #D84033;
}

@media (max-width: 992px) {
  .sale__price-end {
    top: 15px;
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .sale__price-end {
    top: 10px;
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .sale__price-end {
    top: 5px;
    font-size: 20px;
  }
}

.page-dark {
  background-color: #212121;
}

.page-dark__delivery {
  padding: 80px 0px 69px 0px;
}

@media (max-width: 768px) {
  .page-dark__delivery {
    padding: 35px 0px 34px 0px;
  }
}

@media (max-width: 576px) {
  .page-dark__delivery {
    padding: 15px 0px 14px 0px;
  }
}

.delivery {
  text-align: center;
}

.delivery__title {
  margin: 80px 0px 23px 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .delivery__title {
    margin: 30px 0px 15px 0px;
    font-size: 25px;
  }
}

.delivery__text {
  margin: 0px 0px 69px 0px;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .delivery__text {
    margin-bottom: 30px;
  }
}

.page-cream__product {
  margin-bottom: 200px;
}

@media (max-width: 992px) {
  .page-cream__product {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .page-cream__product {
    margin-bottom: 5px;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

@media (max-width: 992px) {
  .product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .product {
    gap: 15px;
  }
}

.product__item {
  position: relative;
  padding: 60px 245px 58px 0px;
}

@media (max-width: 576px) {
  .product__item {
    padding: 5px 50px 58px 0px;
  }
}

.product__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #000000;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .product__title {
    white-space: normal;
  }
}

.product__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.product__btn {
  display: inline-block;
  padding: 0px 30px;
}

.product__img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

@media (max-width: 576px) {
  .product__img {
    max-width: 110px;
    right: 20px;
  }
}

.page-light {
  background-color: #fff;
  margin: 150px 0px 150px 0px;
}

@media (max-width: 992px) {
  .page-light__new {
    margin: 75px 0px 75px 0px;
  }
}

@media (max-width: 576px) {
  .page-light__new {
    margin: 30px 0px 30px 0px;
  }
}

.new__title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;
}

.new__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (max-width: 992px) {
  .new__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.new__item {
  position: relative;
  -webkit-box-flex: 47%;
      -ms-flex: 47%;
          flex: 47%;
}

.new__item::before, .new__item::after {
  content: "";
  display: block;
  margin: 0 auto;
  max-width: 255px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

.new__item::before {
  background-image: url("../image/group-top.svg");
}

.new__item::after {
  background-image: url("../image/group-bottom.svg");
}

.new__image {
  display: block;
  margin: 0 auto;
}

.new__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.new__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #D7B399;
}

.new__arrow {
  margin-left: 10px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 80px 0px;
  gap: 30px;
}

@media (max-width: 768px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .footer__logo {
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .footer__nav {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .footer__nav li {
    padding-left: 30px;
  }
}

@media (max-width: 576px) {
  .footer__nav {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .footer__nav li {
    padding-left: 0px;
  }
}

.footer__title {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0px 0px 20px 0px;
}

.footer__link {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #CBCFD4;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer__link:hover {
  color: #D7B399;
}

.footer__link:active {
  color: #ffffff;
}

.footer__social {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #CBCFD4;
  text-decoration: none;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position: 0 5px;
}

.footer__social:hover {
  color: #D7B399;
}

.footer__social:active {
  color: #ffffff;
}

.footer__social-vk {
  background-image: url("../image/vk.svg");
}

.footer__social-fb {
  background-image: url("../image/fb.svg");
}

.footer__social-in {
  background-image: url("../image/in.svg");
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (max-width: 576px) {
  .footer__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.page-light__footer {
  margin: 30px 0px;
}

.copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #212121;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */