body {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
}

ul {
  padding: 0px;
  list-style: none;
}

.page-cream {
  background-color: #F9F6F1;
}

.page-cream__header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 50px 0px 0px 0px;
  z-index: 1;
}

@media (max-width: 992px) {
  .page-cream__header {
    padding: 30px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  .page-cream__header {
    padding: 15px 0px 0px 0px;
  }
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 20px 0px;
  gap: 25px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    display: block;
    top: 45px;
    width: 100%;
    height: 100%;
    margin-left: -140%;
    padding: 20px 20px 0px 20px;
    background-color: #D7B399;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  .header__nav-two {
    padding-top: 0px;
    top: 178px;
  }
  .header__nav-two-active {
    margin-left: -20px;
  }
  .header__nav-active {
    margin-left: -20px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    width: 150px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    padding: 0px 0px 0px 30px;
  }
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header__link {
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
  }
}

.header__link:hover {
  color: #f57a00;
}

.header__link:active {
  color: #da9360;
}

@media (max-width: 768px) {
  .header__item {
    padding: 10px 0px 10px 0px;
  }
}

.header__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.header__sticker {
  width: 50px;
  height: 17px;
  text-align: center;
  background-image: url("../image/sticker.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 5.2px 0px 0px 10px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.header__burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: absolute;
    z-index: 4px;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    display: block;
    position: absolute;
    top: 9px;
    height: 2px;
    width: 100%;
    background-color: black;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
  }
  .header__burger::after {
    bottom: 0px;
  }
  .header__burger-active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger-active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger-active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.page-cream__sale {
  padding: 226px 0px 133px 0px;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale__title {
  margin: 0px;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #000000;
}

.sale__text {
  margin: 35px 0px 55px 0px;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
  color: #000000;
  text-transform: uppercase;
}

.sale__product {
  position: relative;
}

.sale__price-start {
  position: absolute;
  top: -15px;
  right: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #000000;
}

.sale__price-end {
  top: 20px;
  right: 0px;
  position: absolute;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #D84033;
}

.btn {
  background-color: #D7B399;
  padding: 18px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.btn__center {
  display: block;
  max-width: 160px;
  margin: 100px auto 0px auto;
}

.btn:hover {
  background-color: #db915c;
}

.btn:active {
  background-color: #ce7231;
}

.page-dark {
  background-color: #212121;
}

.page-dark__delivery {
  padding: 80px 0px 69px 0px;
}

.delivery {
  text-align: center;
}

.delivery__title {
  margin: 80px 0px 23px 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.delivery__text {
  margin: 0px 0px 69px 0px;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.page-cream__product {
  margin-bottom: 200px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.product__item {
  position: relative;
  padding: 60px 245px 58px 0px;
}

.product__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #000000;
}

.product__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.product__btn {
  display: inline-block;
  padding: 0px 30px;
}

.product__img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.page-light {
  background-color: #fff;
  margin: 150px 0px 150px 0px;
}

.new__title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;
}

.new__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.new__item {
  position: relative;
}

.new__item::before, .new__item::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

.new__item::before {
  background-image: url("../image/group-top.svg");
}

.new__item::after {
  background-image: url("../image/group-bottom.svg");
}

.new__image {
  display: block;
  margin: 0 auto;
}

.new__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.new__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #D7B399;
}

.new__arrow {
  margin-left: 10px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 80px 0px;
  gap: 30px;
}

.footer__title {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0px 0px 20px 0px;
}

.footer__link {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #CBCFD4;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer__link:hover {
  color: #D7B399;
}

.footer__link:active {
  color: #ffffff;
}

.footer__social {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #CBCFD4;
  text-decoration: none;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position: 0 5px;
}

.footer__social:hover {
  color: #D7B399;
}

.footer__social:active {
  color: #ffffff;
}

.footer__social-vk {
  background-image: url("../image/vk.svg");
}

.footer__social-fb {
  background-image: url("../image/fb.svg");
}

.footer__social-in {
  background-image: url("../image/in.svg");
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.page-light__footer {
  margin: 30px 0px;
}

.copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #212121;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */