@import "./main";

body {
   font-family: 'Montserrat', sans-serif;
}
ul {
   padding: 0px;
}
.page-cream {
   background-color: #F9F6F1;
   &__header {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      padding: 50px 0px 0px 0px;
      z-index: 1;
   }
}
.wrapper {
   max-width: 1110px;
   margin: 0 auto;
   padding: 0px 20px;
}
.header {
   @include displayflex;
   padding: 0px 0px 20px 0px;
   &__nav {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 35px;
   }
   &__logo {
      margin: 0px 90px 0px 91px;
   }
   &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: #212121;
      text-decoration: none;
   }
   &__link:hover {
      color: #D7B399;
   }
   &__link:active {
      color: #da9360;
   }
   &__item {
   }
   &__sale {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      margin-left: 101px;
   }
   &__basket {
      margin-right: 5px;
   }

   &__sticker {
      width: 50px;
      height: 17px;
      text-align: center;
      background-image: url("../image/sticker.svg");
      background-position: center;
      background-repeat: no-repeat;
      padding: 5.2px 0px 0px 10px;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
   }
}
.page-cream {
   &__sale {
      padding: 226px 0px 133px 0px;
   }
}
.sale {
   display: flex;
   justify-content: space-between;
   &__description {
   }

   &__title {
      margin: 0px;
      font-weight: normal;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0.02em;
      color: #000000;
   }

   &__text {
      margin: 35px 0px 55px 0px;
      font-weight: bold;
      font-size: 55px;
      line-height: 67px;
      letter-spacing: 0.04em;
      color: #000000;
      text-transform: uppercase;
   }

   &__btn {
   }
   &__product {
      position: relative;
   }
   &__image {
   }

   &__price-start {
      position: absolute;
      top: -15px;
      right: 0px;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: right;
      letter-spacing: 0.05em;
      text-decoration-line: line-through;
      text-transform: uppercase;
      color: #000000;
   }

   &__price-end {
      top: 20px;
      right: 0px;
      position: absolute;
      font-weight: bold;
      font-size: 42px;
      line-height: 51px;
      text-align: right;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #D84033;
   }
}
.btn {
   background-color: #D7B399;
   padding: 18px 30px;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}
.btn:hover {
   background-color: #db915c;
}
.btn:active {
   background-color: #ce7231;
}
.page-dark {
   background-color: #212121;
   &__delivery {
      padding: 80px 0px 69px 0px;
   }
}
.delivery {
   text-align: center;
   &__title {
      margin: 80px 0px 23px 0px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 37px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
   }

   &__text {
      margin: 0px 0px 69px 0px;
      font-weight: 300;
      font-size: 21px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
   }
}
.page-cream {
   &__product {
      margin-bottom: 200px;
   }
}
.product {
   @include displayflex;
   gap: 35px;
   &__item {
      position: relative;
      padding: 60px 245px 58px 0px;
   }

   &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.03em;
      color: #000000;
   }

   &__description {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
   }

   &__btn {
      display: inline-block;
      padding: 0px 30px;
   }
   &__img {
      position: absolute;
      bottom: 0px;
      right: 0px;
   }
}
