@import "./main";

body {
   font-family: 'Montserrat', sans-serif;
}
ul {
   padding: 0px;
   list-style: none;
}
.page-cream {
   background-color: #F9F6F1;
   &__header {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      padding: 50px 0px 0px 0px;
      z-index: 1;
      @include breakpoint (lg) {
         padding: 30px 0px 0px 0px;
      }
      @include breakpoint (md) {
         padding: 15px 0px 0px 0px;
      }
   }
}
.wrapper {
   max-width: 1110px;
   margin: 0 auto;
   padding: 0px 20px;
}
.header {
   @include displayflex;
   padding: 0px 0px 20px 0px;
   gap: 25px;
   &__nav {
      @include displayflex;
      gap: 25px;
      @include breakpoint (md) {
         position: fixed;
         display: block;
         top: 45px;
         width: 100%;
         height: 100%;
         margin-left: -140%;
         padding: 20px 20px 0px 20px;
         background-color: #D7B399;
         transition: 0.3s ease all;
         &-two {
            padding-top: 0px;
            top: 178px;
            &-active {
               margin-left: -20px;
            }
         }
         &-active {
            margin-left: -20px;
         }
      }
   }
   &__logo {
      @include breakpoint (lg) {
         width: 150px;
         height: 30px;
      }
      @include breakpoint (md) {
         padding: 0px 0px 0px 30px;
      }
   }
   &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: #212121;
      text-decoration: none;
      @include breakpoint (md) {
         padding: 10px 0px 10px 0px;
         text-transform: uppercase;
      }
   }
   &__link:hover {
      color: #f57a00;
   }
   &__link:active {
      color: #da9360;
   }
   &__item {
      @include breakpoint (md) {
         padding: 10px 0px 10px 0px;
      }
   }
   &__sale {
      @include displayflex;
      gap: 5px;
   }
   &__basket {
   }

   &__sticker {
      width: 50px;
      height: 17px;
      text-align: center;
      background-image: url("../image/sticker.svg");
      background-position: center;
      background-repeat: no-repeat;
      padding: 5.2px 0px 0px 10px;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
   }
   &__burger {
      display: none;
      cursor: pointer;
      @include breakpoint (md) {
         display: block;
         position: absolute;
         z-index: 4px;
         width: 30px;
         height: 20px;
         & span {
            display: block;
            position: absolute;
            top: 9px;
            height: 2px;
            width: 100%;
            background-color: black;
            transition: 0.3s ease all;
         }
         &::before,&::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: black;
            transition: 0.3s ease all;
         }
         &::after {
            bottom: 0px;
         }
         &-active {
            &::before {
               transform: rotate(45deg);
               top: 9px;
            }
            &::after {
               transform: rotate(-45deg);
               bottom: 9px;
            }
            & span {
               transform: scale(0);
            }
         }
      }
   }
}
.page-cream {
   &__sale {
      padding: 226px 0px 133px 0px;
      @include breakpoint (lg) {
         padding: 170px 0px 110px 0px;
      }
      @include breakpoint (md) {
         padding: 130px 0px 85px 0px;
      }
   }
}
.sale {
   display: flex;
   justify-content: space-between;
   gap: 30px;
   &__description {
      position: relative;
      flex-basis: 60%;
   }

   &__title {
      margin: 0px;
      font-weight: normal;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0.02em;
      color: #000000;
      @include breakpoint (lg) {
         font-size: 25px;
      }
   }

   &__text {
      margin: 55px 0px 55px 0px;
      font-weight: bold;
      font-size: 55px;
      line-height: 67px;
      letter-spacing: 0.04em;
      color: #000000;
      text-transform: uppercase;
      @include breakpoint (lg) {
         font-size: 48px;
         margin: 25px 0px 55px 0px;
      }
   }

   &__btn {
      position: absolute;
      bottom: 0;
      @include breakpoint (lg) {
         position: static;
      }
   }
   &__product {
      display: flex;
      position: relative;
   }
   &__image {
      & img {
         max-width: 100%;
      }
      @include breakpoint (lg) {
         align-self: flex-end;
      }
   }

   &__price-start {
      position: absolute;
      top: -15px;
      right: 0px;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: right;
      letter-spacing: 0.05em;
      text-decoration-line: line-through;
      text-transform: uppercase;
      color: #000000;
   }

   &__price-end {
      top: 20px;
      right: 0px;
      position: absolute;
      font-weight: bold;
      font-size: 42px;
      line-height: 51px;
      text-align: right;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #D84033;
      @include breakpoint (lg) {
         top: 15px;
         font-size: 32px;
      }
   }
}
.btn {
   background-color: #D7B399;
   padding: 18px 30px;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
   &__center {
      display: block;
      max-width: 160px;
      margin: 100px auto 0px auto;
   }
}
.btn:hover {
   background-color: #db915c;
}
.btn:active {
   background-color: #ce7231;
}
.page-dark {
   background-color: #212121;
   &__delivery {
      padding: 80px 0px 69px 0px;
      @include breakpoint (md) {
         padding: 35px 0px 34px 0px;
      }
   }
}
.delivery {
   text-align: center;
   &__title {
      margin: 80px 0px 23px 0px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 37px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
   }

   &__text {
      margin: 0px 0px 69px 0px;
      font-weight: 300;
      font-size: 21px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
   }
}
.page-cream {
   &__product {
      margin-bottom: 200px;
      @include breakpoint (lg) {
         margin-bottom: 50px;
      }
   }
}
.product {
   @include displayflex;
   gap: 35px;
   @include breakpoint (lg) {
      flex-wrap: wrap;
      justify-content: center;
   }
   &__item {
      position: relative;
      padding: 60px 245px 58px 0px;
   }

   &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.03em;
      color: #000000;
   }

   &__description {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
   }

   &__btn {
      display: inline-block;
      padding: 0px 30px;
   }
   &__img {
      position: absolute;
      bottom: 0px;
      right: 0px;
   }
}
.page-light {
   background-color: #fff;
   margin: 150px 0px 150px 0px;
   &__new {
      @include breakpoint (lg) {
         margin: 75px 0px 75px 0px;
      }
   }
}
.new {

   &__title {
      text-align: center;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #212121;
   }

   &__items {
      @include displayflex;
      gap: 30px;
      @include breakpoint (lg) {
         flex-wrap: wrap;
         justify-content: space-around;
      }
   }

   &__item {
      position: relative;
      flex: 47%;
      &::before, &::after {
         content: "";
         display: block;
         margin: 0 auto;
         max-width: 255px;
         height: 25px;
         background-repeat: no-repeat;
         background-size: contain;
      }
      &::before {
         background-image: url("../image/group-top.svg");
      }
      &::after {
         background-image: url("../image/group-bottom.svg");
      }
   }

   &__image {
      display: block;
      margin: 0 auto;
   }

   &__text {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #000000;
   }
   
   &__price {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #D7B399;
   }
   &__arrow {
      margin-left: 10px;
   }
}
.footer {
   &__container {
      @include displayflex;
      position: relative;
      align-items: start;
      padding: 80px 0px;
      gap: 30px;
   }
   &__logo {
      @include breakpoint (lg) {
         position: absolute;
         top: 10px;
         left: 50%;
      }
   }

   &__nav {
   }
   &__title {
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: #FFFFFF;
      text-decoration: none;
      margin: 0px 0px 20px 0px;
   }
   &__link {
      display: inline-block;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #CBCFD4;
      text-decoration: none;
      margin-bottom: 20px;
      &:hover {
         color: #D7B399;
      }
      &:active {
         color: #ffffff;
      }
   }

   &__social {
      display: inline-block;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #CBCFD4;
      text-decoration: none;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      padding-left: 30px;
      background-position: 0 5px;
      &:hover {
         color: #D7B399;
      }
      &:active {
         color: #ffffff;
      }
   &-vk {
      background-image: url("../image/vk.svg");
   }
   &-fb {
      background-image: url("../image/fb.svg");
   }
   &-in {
      background-image: url("../image/in.svg");
   }
   }
   &__box {
      @include displayflex;
      gap: 30px;
   }
}
.page-light {

   &__footer {
      margin: 30px 0px;
   }
}
.copyright {
   font-weight: normal;
   font-size: 14px;
   line-height: 22px;
   color: #212121;
   text-decoration: none;
}
